
.index {

    position: relative;
    display: block;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.search_field {
    border-bottom: 1px solid #cccccc;
    padding-top: 10px;
    padding-bottom: 2px;
    background-color: #F1F1F1;
    margin-left: -6px;
    margin-right: -9px;
    height: 100%;
    min-width: 800px;


}

.google_icon {
    position: relative;
    left: 30px;
}

.search_content {
    height: 26px;
    position: relative;
    bottom: 16px;
    left: 85px;
    display: inline-block;
    border: 1px solid #cccccc;
    padding-right: 355px;

}

.show_search_tips_picture {
    position: absolute;
    left: 715px;
    top: 65px;
}

.search_button {
    border-radius: 2px;
    background-color: #4d90fe;
    position: relative;
    bottom: 21px;
    left: 97px;
    height: 29px;
    width: 68px;
    display: inline-block;
    -webkit-user-select: none;
    border: 1px solid transparent;
}

.search_picture {
    position: absolute;
    clip: rect(0px, 62px, 17px, 30px);
    left: 740px;
    top: 61px;
}

.gmail_name {
    font-size: 13px;
    position: absolute;
    right: 22px;
    top: 55px;
    color: gray;

}

.show_gmail_information {
    position: absolute;
    right: 10px;
    top: 62px;
}

.operate_field {
    border-bottom: 1px solid #cccccc;
    height: 60px;
}

.show_gmail {
    position: relative;
    z-index: 5;
    font-size: 20px;
    color: #DD4B39;
    line-height: 65px;
    display: inline-block;
    left: 30px;
}

.image {
    position: relative;
    bottom: 3px;
}

.select {
    position: relative;
    left: 11px;
    top: 1px;
}

.select_sorts {
    position: absolute;
    left: 200px;
    top: 120px;
    display: inline-block;
    background-image: -webkit-linear-gradient(top, whiteSmoke, #F1F1F1);
}

.refresh_operation {
    position: absolute;
    left: 285px;
    top: 121px;
    display: inline-block;
}

.refresh_picture {
    position: absolute;
    clip: rect(188px, 20px, 210px, 0px);
    top: -190px;
    left: 23px;
}

.show_more_operations {
    position: absolute;
    left: 374px;
    top: 124px;
    border: 1px solid #d6d6d6;
    display: inline-block;
    background-image: -webkit-linear-gradient(top, whiteSmoke, #F1F1F1);
    border-radius: 2px;
    width: 81px;
    height: 26px;
}

.more_operations_button {
    font-size: 13px;
    line-height: 27px;
    position: relative;
    left: 7px;
    color: grey;
}

.more_operations_picture {
    position: relative;
    left: 8px;
    bottom: 2px;
}

.gmail_number {
    position: absolute;
    right: 195px;
    top: 125px;
    font-size: 13px;
}

.model_picture {
    position: absolute;
    right: 20px;
    top: 114px;
}

.set_button {
    position: absolute;
    right: 30px;
    top: 135px;
}

.arrow_down_picture {
    position: relative;
    right: 15px;
    bottom: 7px;
}

.gmail_container {
    position: absolute;
    left: 202px;
    top: 180px;
    right: 20px;
    font-size: 14px;

}

.guang_gao_field {
    background-color: #F1F1F1;
    height: 28px;
    width: 100%;
    line-height: 28px;
    border: 1px solid gainsboro;
    min-width: 750px;
}

.guang_gao_content{

    line-height: 28px;
    border-style:none ;
    white-space:nowrap;
    margin-right: 100px;
}
.guang_gao {
    color: blue;
    padding-left: 15px;

    line-height: 28px;
    border-style:none ;
    width: 300px;
    overflow:hidden;
    white-space:nowrap;
}

.why_show_guang_gao {
    color: blue;
    font-size: 12px;
    float: right;
    padding-right: 15px;
    border-style:none ;
    overflow:hidden;
    white-space:nowrap;

}
.show_guang_gao{
    position: relative;
    bottom: 7px;
    table-layout: fixed;
}


.border {
    border-top: 1px gainsboro solid;
    margin-top: 13px;
}

td {
    border-bottom: 1px gainsboro solid;
    height: 34px;
    line-height: 34px;
    overflow:hidden;
    white-space:nowrap;


}

table {
    width: 100%;
    table-layout: fixed;
    min-width: 600px;
}

.model_icon {
    position: relative;
    top: 3px;
    margin-left: 15px;
}

.gmail_text {
    color: gray;
}

.icon_location{
    width: 100px;
}

.gmail_sender{
    width: 130px;
}

.date{
    width: 55px;
    padding-right: 20px;
}