.index_tittle {
    color: #bbb;
    font-size: 13px;
}

.index_head {
    background-color: rgb(45, 45, 45);
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-color: black;
    opacity: 1;
    font-family: arial, sans-serif;
    font-weight: bold;
    height: 19px;
    min-width: 620px;
}

.down_arrow_picture {
    position: relative;
    bottom: 2px;
    left: 5px;
}

ul {
    list-style: none;
    position: relative;
    top: -10px;
}

li {
    float: left;
    padding-right: 19px;
}